{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<body style="background-size: cover; background-image:url({{asset('images/background/font4.jpg')}})">

<div style="font-family:  Arial; font-size: large; color: black; text-align: center;">
    <img src="{{ asset('images/background/el.jpg') }}" style="width: 67%;height: 67%;border-radius: 30px;">
    <div class="col-md-8 col-md-offset-2" style="background-color: white;border-radius: 10px; text-align: left">
        <font style="color: dodgerblue">THE 2017/18 UEFA CHAMPIONS LEAGUE GROUP STAGE AS IT STANDS</font><br>

        How Manchester United have earned a group stage place ...<br>

        • The UEFA Champions League winners are guaranteed a 2017/18 group stage place regardless of where they finish in their domestic league.<br>

        • The UEFA Europa League winners enter the UEFA Champions League play-off league route unless EITHER they are already qualified for the UEFA Champions League group stage via their domestic league OR the UEFA Champions League winners are already qualified for the group stage via their domestic league, creating a vacancy to be be filled by the UEFA Europa League winners going straight into the group stage.<br>

        • Because both Real Madrid and Juventus have clinched group places already through their domestic leagues,  UEFA Europa League winners Manchester United will enter the 2017/18 UEFA Champions League group stage.<br>

        • England will have five UEFA Champions League places next season as United finished outside the top four in the Premier League. The English top three of Chelsea, Tottenham Hotspur and Manchester City will play in the group stage alongside United while the fourth-placed side – Liverpool – will enter the play-offs (league route).<br>

    </div>

</div>


{% endblock %}