{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<body style="background-size: cover; background-image:url({{asset('images/background/font4.jpg')}})">

<div style="font-family:  Arial; font-size: large; color: black; text-align: center;">
    <img src="{{ asset('images/background/uefa.jpg') }}" style="width: 67%;height: 67%;border-radius: 30px;">
    <div class="col-md-8 col-md-offset-2" style="background-color: white;border-radius: 10px; text-align: left">
        When Jean-Michel Aulas took ownership of Lyon in 1987, as Bruno Génésio recalls, he promised that one day Lyon would be a leading European club and have their own television channel. Given that the club were in Ligue 2 at the time, and desperately battling relegation to the third tier, it was a bold claim. "Rather crazy," says Génésio, a player back then.<br>
        <font color="#1e90ff">
              How big a deal is Alexandre Lacazette?<br>
              Snap shot: The first time Ajax and Lyon met<br>
        </font>
        Lyon's TV channel launched in 2005 and if reaching the UEFA Champions League knockout stage nine years running from 2003/04 didn't firmly establish them as a top European club, they have again shown their credentials this term. They have their work cut out against Ajax in Thursday's UEFA Europa League semi-final second leg, but the campaign has had positives aplenty regardless of the outcome.<br>
    </div>

</div>


{% endblock %}