{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<body style="background-size: cover; background-image:url({{asset('images/background/font4.jpg')}})">

<div style="font-family:  Arial; font-size: large; color: black; text-align: center;">
    <img src="{{ asset('images/background/minute.jpg') }}" style="width: 67%;height: 67%;border-radius: 30px;">

    <div class="col-md-8 col-md-offset-2" style="background-color: white;border-radius: 10px;text-align: left;">
        Manchester United have joined an elite band of teams to have won all three of UEFA's major club competitions after beating Ajax 2-0 in the UEFA Europa League final to collect the one trophy missing from their collection of major European honours.<br>

        Their first came in <font style="color:#1e90ff;">1967/68</font>, when Sir Matt Busby led a team featuring George Best and Sir Bobby Charlton to European Champion Clubs' Cup glory, which they experienced again under Sir Alex Ferguson in <font style="color:#1e90ff;">1998/99</font> and <font style="color:#1e90ff;">2007/08</font> – the Scot having also steered the club to European Cup Winners' Cup success in 1990/91.<br>

        Only four sides have lifted each of the European Champion Clubs' Cup, UEFA Cup/UEFA Europa League and European Cup Winners' Cup. UEFA.com recounts that proud quartet's distinguished record.<br>

    </div>

</div>


{% endblock %}